.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home_header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.home_headerLeft {
    display: flex;
    align-items: center;
}

.home_headerLeft p {
    margin-right: 20px;
    font-size: 17px;
}

.home_headerRight {
    display: flex;
    align-items: center;
}

.home_headerRight p {
    margin-right: 18px;
    font-size: 17px;
}

.home_headerRight .MuiSvgIcon-root {
    padding-left: 15px;
}

.home_body {
    flex: 1;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}

.home_body>img {
    object-fit: contain;
    height: 135px;
}